.blog-items-container {
	margin: var(--margin-medium);
}

.blog-item {
	display: inline-block;
	margin: var(--margin-medium);
	padding: var(--padding-medium);
	max-width: 450px;
	box-sizing: border-box;
	box-shadow: var(--shadow-grey-dark);
}