html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 16px;
	font-family: 'Calibri', 'Times New Roman', 'Montserrat', Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
}

h1 {
	text-align: center;
	font-size: 2.5em;
	margin: 0;
}

h2 {
	font-size: 2.2em;
	margin: var(--margin-large);
}

h3 {
	font-size: 1.8em;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

a, a:active, a:visited {
	text-decoration: none;
	color: black;
}

p {
	font-size: 1.2em;
	padding: var(--padding-medium);
}

input,
textarea {
	display: block;
	min-width: 250px;
	margin: var(--margin-small);
}

blockquote {
	border-left: var(--border-medium);
	border-color: var(--main-border-color);
	padding-left: var(--padding-medium);
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--main-bg-color);
}


@media screen and (max-width: 767px) {
	html,
	body {
		font-size: 12px;
		overflow-y: auto;
	}

	input,
	textarea {
		min-width: 200px;
		margin: var(--margin-small);
	}
}